---
import Cards from '../components/Cards.astro';
import HomeSection from '../components/HomeSection.astro';
import SectionComponent from '../components/SectionComponent.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="PetHealth Veterinaria">
	<main>
		<HomeSection />
		<SectionComponent class="bg-mirage-300 dark:bg-gray-600">
			<h2 class="text-3xl md:text-5xl mx-auto font-bold mb-12">Acerca de PetHealth</h2>
			<Cards />
		</SectionComponent>
		</main>
</Layout>