<button
  {...Astro.props}
  class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-mirage-900 rounded-lg group bg-gradient-to-br from-mirage-800 to-mirage-500 group-hover:from-mirage-800 group-hover:to-mirage-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-mirage-500 dark:focus:ring-mirage-800 transition"
>
  <span
    class="relative px-4 py-2 transition font-medium ease-in text-sm md:text-base duration-75 bg-mirage-200 dark:bg-gray-800 rounded-md group-hover:bg-opacity-0"
  >
    <slot />
  </span>
</button>
