<section class=`py-16 md:py-20 px-4 w-full text-mirage-950 transition dark:text-white ${Astro.props.class}`>
    <div class="flex flex-col max-w-screen-xl mx-auto">
        <slot />
    </div>
</section>